#mainContainer {
    display: grid;
    grid-template-columns: repeat(100, 0.5vw);
    grid-template-rows: repeat(100, 0.5vw);
}

.gridCell {
    border: 1px solid black;
}

.alive {
    background-color: black;
}